:root {
    --speed: 5;
}
.machine {
    background-color:#034f84;
    border: solid black 3px;
    height: 300px;
    width: 900px;
    margin: 50px;
    margin-left:210px;
    margin-top:150px;
    z-index: 5;

    display: flex;
}

#inpSpeed {
    font-size: 30pt;
    width: 100px;
    margin-left:500px;
    background-color:rgb(95, 160, 191);
    text-align:center;
    border-radius: 50px;
    border: solid #034f84 5px;
}
#imp {
    font-size: 10pt;
    margin-left: 30px;
    width: 120px;
    height: 60px;
    margin-left:60px;
    background-color:rgb(95, 160, 191);
    text-align:center;
    border-radius: 50px;
    border: solid #034f84 5px;
    font-weight:bolder;
}

.slot {
    height: 250px;
    width: 250px;
    margin: 20px;

    overflow: hidden;

    z-index: 1;

    background-color: #a6e1e8;
    border: solid black 2px;
    text-align: center;
    font-size: 100pt;
    line-height: 250px;
}

.slot > .value {
    z-index: 3;
    animation-name: slotspin;
    animation-iteration-count: infinite;
    animation-duration: calc(1s / var(--speed));
}

@keyframes slotspin {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(200px)
    }
}